# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Paystack
PAYSTACK_SECRET_KEY=sk_test_xxxxx
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxxxx

# SendGrid
SENDGRID_API_KEY=SG.xxxxx
SENDGRID_FROM_EMAIL=noreply@tomame.com
SENDGRID_FROM_NAME=Tomame

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Browserless
BROWSERLESS_API_KEY=your-browserless-api-key

# SerpAPI (weight lookup fallback)
SERPAPI_API_KEY=your-serpapi-key

# Mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=falfjldjfjd
SMTP_PASS=dfadlfj

# CRON
CRON_SECRET=

# FREE CURRENCY
FREECURRENCY_API_KEY=fca_live_VxT5bVfpRWWoLmLuqiFdfonUL8XL9zUXzebXIgLP
