# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_SECRET_KEY=your-secret-key

# Paystack
PAYSTACK_SECRET_KEY=sk_test_xxxxx
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxxxx

# Resend
RESEND_API_KEY=re_xxxxx
RESEND_FROM_EMAIL=Tomame <no-reply@tomame.com>

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Browserless
BROWSERLESS_API_KEY=your-browserless-api-key

# SerpAPI (weight lookup fallback)
SERPAPI_API_KEY=your-serpapi-key


# CRON
CRON_SECRET=

# FREE CURRENCY
FREECURRENCY_API_KEY=freecurrency-api-key

# EXCHANGE RATE API
EXCHANGE_RATE_API_KEY=
